/* Для экранов 1920px и больше */
@media (min-width: 1920px) {
  .title_section h1 {
    font-size: 117px;
  }

  .footer_author {
    padding: 40px;
  }

  .user_data_container {
    width: 1810px;
    height: 109px;
    padding: 0px;
  }

  .user_data_text {
    font-size: 50px;
  }

  .result {
    width: 1736px;
    height: 110px;
    padding: 40px;
  }
  .result_text {
    font-size: 50px;
  }
  .result_icon {
    width: 90px;
    height: 90px;
  }

  .generation {
    width: 1814px;
    height: 900px;
  }

  .first_block,
  .second_block,
  .last_block {
    margin-bottom: 180px;
  }

  .first_block,
  .last_block {
    gap: 700px;
  }

  .second_block {
    gap: 1400px;
  }

  .image {
    width: 108px;
    height: 108px;
  }

  .brain_activity {
    margin-right: 24px;
    min-width: 402px;
    min-height: 425px;
  }

  .user_main {
    flex-direction: row;
  }

  .user_name {
    width: 828px;
    height: 425px;
    padding: 30px;
    margin-right: 17px;
    height: 352px;
  }

  .user_indicators {
    width: 1733px;
    height: 578px;
    padding: 30px;
    margin-bottom: 50px;
  }

  .user_text {
    font-size: 50px;
  }

  .letter {
    font-size: 80px;
  }

  .letter_line {
    width: 120px;
  }

  .indicators {
    width: 828px;
    height: 425px;
  }

  .brain_activity p {
    margin-top: 20px;
    font-size: 16px;
  }

  .brain_activity {
    margin-right: 24px;
    min-width: 402px;
    min-height: 425px;
  }

  .brain_line {
    margin-top: 120px;
    width: 382px;
    height: 171px;
  }

  .brain_img {
    margin-top: 51px;
    margin-left: -356px;
    position: absolute;
    width: 334px;
    height: 297px;
  }

  .pulse_numbers {
    margin-top: 20px;
    width: 362px;
    justify-content: space-between;
  }

  .pulse_numbers h2 {
    font-size: 50px;
  }

  .heart {
    margin-top: 40px;
  }

  .mood {
    height: 106px;
  }

  .mood_toggle {
    width: 294px;
    height: 106px;
  }
  .pulse {
    width: 402px;
    height: 411px;
  }
}

/* Для экранов от 1366px до 1919px */
@media (min-width: 1366px) and (max-width: 1919px) {
  .title_section h1 {
    font-size: 85px;
  }
  .footer_ticker {
    width: 346px;
    height: 64px;
    font-size: 30px;
  }

  .footer_author {
    width: 1333px;
    height: 143px;
  }

  .footer_group {
    padding: 10px;
  }

  .footer_name {
    font-size: 40px;
    padding: 49px 0;
  }

  .footer_hse {
    padding: 48px 30px 48px 0;
  }
  .user_data_container {
    width: 1296px;
    height: 109px;
    padding: 15px 20px;
  }

  .user_data_text {
    font-size: 30px;
  }

  .result {
    width: 1296px;
    height: 170px;
    padding: 20px;
  }
  .result_text {
    font-size: 40px;
  }
  .result_icon {
    width: 90px;
    height: 90px;
  }

  .generation {
    width: 1337px;
    height: 900px;
  }

  .first_block,
  .second_block,
  .last_block {
    margin-bottom: 206px;
  }

  .first_block,
  .last_block {
    gap: 700px;
  }

  .second_block {
    gap: 1022px;
  }

  .image {
    width: 108px;
    height: 108px;
  }

  .brain_activity {
    margin-right: 17px;
    width: 290px;
    min-height: 370px;
  }

  .user_main {
    flex-direction: row;
  }

  .user_name {
    width: 600px;
    height: 299px;
    padding: 30px;
    margin-right: 17px;
  }

  .user_indicators {
    width: 1262px;
    height: 524px;
    padding: 30px;
    margin-bottom: 50px;
  }

  .user_text {
    font-size: 50px;
  }

  .letter {
    font-size: 70px;
  }

  .letter_line {
    width: 80px;
  }

  .indicators {
    width: 620px;
    height: 369px;
  }

  .brain_activity p {
    margin-top: 20px;
    font-size: 16px;
  }

  .brain_line {
    margin-top: 120px;
    width: 272px;
    height: 100px;
  }

  .brain_img {
    margin-top: 70px;
    margin-left: -264px;
    position: absolute;
    width: 259px;
    height: 231px;
  }

  .pulse_numbers {
    margin-top: 20px;
    width: 265px;
    justify-content: space-between;
  }

  .pulse_numbers h2 {
    font-size: 50px;
  }

  .heart {
    margin-top: 40px;
    width: 250px;
  }

  .mood {
    height: 106px;
  }

  .mood_toggle {
    width: 294px;
    height: 106px;
  }

  .pulse {
    width: 305px;
    height: 357px;
  }
}

/* Для экранов от 1024px до 1365px */
@media (min-width: 1024px) and (max-width: 1365px) {
  .title_section h1 {
    font-size: 75px;
  }

  .footer_author {
    width: 100%;
    max-width: 1166px;
    margin: 0 auto;
  }

  @media (max-width: 1280px) {
    .footer_author {
      width: 1166px;
    }
  }

  @media (max-width: 1024px) {
    .footer_author {
      width: 938px;
    }
  }

  .footer_ticker {
    width: 346px;
    height: 64px;
    font-size: 30px;
  }

  .footer_group p {
    font-size: 18px;
  }

  .footer_name {
    font-size: 30px;
    padding: 53px 0;
  }

  .footer_hse {
    padding: 50px 30px 50px 0;
  }
  .footer_group {
    padding-left: 10px;
  }

  .user_data_container {
    width: 1156px;
    height: 109px;
    padding: 0px;
  }

  @media (max-width: 1024px) {
    .user_data_container {
      width: 934px;
    }
  }

  .user_data_text {
    font-size: 30px;
  }

  .result {
    width: 1118px;
    height: 120px;
    padding: 20px;
  }

  @media (max-width: 1024px) {
    .result {
      width: 914px;
    }
  }

  .result_text {
    font-size: 35px;
  }
  .result_icon {
    width: 70px;
    height: 70px;
  }

  .generation {
    width: 100%;
    max-width: 1164px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  @media (max-width: 1280px) {
    .generation {
      width: 1164px;
    }
    .second_block {
      gap: 838px;
    }

    .first_block,
    .last_block {
      gap: 450px;
    }
  }

  @media (max-width: 1024px) {
    .generation {
      width: 955px;
    }
    .second_block {
      gap: 600px;
    }
  }

  .first_block,
  .second_block,
  .last_block {
    margin-bottom: 90px;
  }

  .image {
    width: 108px;
    height: 108px;
  }

  .center_image {
    width: 530px;
    height: 530px;
  }
}

/* Для экранов от 640px до 1023px */
@media (min-width: 640px) and (max-width: 1023px) {
  .title_section h1 {
    font-size: 75px;
  }
  .footer_ticker {
    width: 336px;
    height: 58px;
    font-size: 25px;
    padding: 0px;
  }

  .footer_author {
    width: 696px;
    height: 370px;
    flex-direction: column;
    gap: 40px;
    padding-top: 30px;
  }

  .footer_name {
    font-size: 40px;
    padding: 30px;
  }

  .footer_group p {
    font-size: 18px;
  }

  .footer_group {
    align-items: center;
  }

  .footer_hse {
    text-align: center;
    font-size: 18px;
    padding: 0 30px 30px;
  }

  .user_data_container {
    width: 696px;
    height: 109px;
    padding: 0px;
  }

  .user_data_text {
    font-size: 30px;
  }

  .result {
    width: 656px;
    height: 120px;
    padding: 20px;
  }
  .result_text {
    font-size: 35px;
  }
  .result_icon {
    width: 70px;
    height: 70px;
  }

  .generation {
    width: 700px;
    height: 586px;
  }

  .center_image {
    width: 530px;
    height: 530px;
  }

  .first_block,
  .last_block {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 430px;
  }

  .second_block {
    display: none;
  }
}

/* Для экранов до 479px */
@media (max-width: 479px) {
  .title_section h1 {
    font-size: 40px;
    margin-top: 60px;
  }
  .footer_ticker {
    width: 336px;
    height: 58px;
    font-size: 25px;
    padding: 0px;
  }

  .footer_author {
    width: 336px;
    height: 387px;
    flex-direction: column;
    gap: 40px;
    padding-top: 30px;
  }

  .footer_name {
    font-size: 30px;
    padding: 30px;
  }

  .footer_group p {
    font-size: 18px;
  }

  .footer_group {
    align-items: center;
  }

  .footer_hse {
    text-align: center;
    font-size: 18px;
    padding: 0 30px 30px;
  }

  .user_data_container {
    width: 336px;
    height: 88px;
    padding: 0px;
  }

  .user_data_text {
    font-size: 25px;
  }

  .result {
    width: 296px;
    height: 260px;
    padding: 20px;
    margin-top: 40px;
    flex-direction: column;
    justify-content: center;
  }
  .result_text {
    font-size: 25px;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .result_icon {
    width: 70px;
    height: 70px;
  }

  .generation {
    width: 335px;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .center_image {
    width: 290px;
  }

  .first_block,
  .second_block,
  .last_block {
    display: none;
  }
}
