/* Для экранов 1920px и больше */
@media (min-width: 1920px) {
  .title_section h1 {
    font-size: 117px;
  }

  .footer_author {
    padding: 40px;
  }

  .user_data_container {
    width: 1810px;
    height: 109px;
    padding: 0px;
  }

  .user_data_text {
    font-size: 50px;
  }

  .result {
    width: 1736px;
    height: 110px;
    padding: 40px;
  }
  .result_text {
    font-size: 50px;
  }
  .result_icon {
    width: 90px;
    height: 90px;
  }

  .generation {
    width: 1814px;
    height: 900px;
  }

  .first_block,
  .second_block,
  .last_block {
    margin-bottom: 180px;
  }

  .first_block,
  .last_block {
    gap: 700px;
  }

  .second_block {
    gap: 1400px;
  }

  .image {
    width: 108px;
    height: 108px;
  }

  .brain_activity {
    margin-right: 24px;
    min-width: 402px;
    min-height: 425px;
  }

  .user_main {
    flex-direction: row;
  }

  .user_name {
    width: 828px;
    height: 425px;
    padding: 30px;
    margin-right: 17px;
    height: 352px;
  }

  .user_indicators {
    width: 1733px;
    height: 578px;
    padding: 30px;
    margin-bottom: 50px;
  }

  .user_text {
    font-size: 50px;
  }

  .letter {
    font-size: 80px;
  }

  .letter_line {
    width: 120px;
  }

  .indicators {
    width: 828px;
    height: 425px;
  }

  .brain_activity p {
    margin-top: 20px;
    font-size: 16px;
  }

  .brain_activity {
    margin-right: 24px;
    min-width: 402px;
    min-height: 425px;
  }

  .brain_line {
    margin-top: 120px;
    width: 382px;
    height: 171px;
  }

  .brain_img {
    margin-top: 51px;
    margin-left: -356px;
    position: absolute;
    width: 334px;
    height: 297px;
  }

  .pulse_numbers {
    margin-top: 20px;
    width: 362px;
    justify-content: space-between;
  }

  .pulse_numbers h2 {
    font-size: 50px;
  }

  .heart {
    margin-top: 40px;
  }

  .mood {
    height: 106px;
  }

  .mood_toggle {
    width: 294px;
    height: 106px;
  }
  .pulse {
    width: 402px;
    height: 411px;
  }

  .dream_header {
    width: 880px;
    height: 87px;
  }

  .dream_main {
    width: 1740px;
    height: 860px;
  }

  .dream_wrapper {
    width: 1774px;
    height: 840px;
  }

  .right_side {
    width: 1152px;
    height: 840px;
  }

  .right_img {
    width: 1110px;
    height: 504px;
    padding: 40px;
  }

  .dreams_settings img {
    width: 309px;
    height: 309px;
  }

  .left_side {
    padding: 20px;
    width: 452px;
    height: 800px;
  }

  .toggle_1,
  .toggle_2,
  .toggle_3,
  .toggle_4 {
    width: 80px;
    height: 800px;
  }

  .inner_toggle_1,
  .inner_toggle_2,
  .inner_toggle_3,
  .inner_toggle_4 {
    width: 60px;
    height: 60px;
  }

  .dream_header p {
    font-size: 50px;
  }
}

/* Для экранов от 1366px до 1919px */
@media (min-width: 1366px) and (max-width: 1919px) {
  .title_section h1 {
    font-size: 85px;
  }
  .footer_ticker {
    width: 346px;
    height: 64px;
    font-size: 30px;
  }

  .footer_author {
    width: 1333px;
    height: 143px;
  }

  .footer_group {
    padding: 10px;
  }

  .footer_name {
    font-size: 40px;
    padding: 49px 0;
  }

  .footer_hse {
    padding: 48px 30px 48px 0;
  }
  .user_data_container {
    width: 1296px;
    height: 109px;
    padding: 15px 20px;
  }

  .user_data_text {
    font-size: 30px;
  }

  .result {
    width: 1296px;
    height: 170px;
    padding: 20px;
  }
  .result_text {
    font-size: 40px;
  }
  .result_icon {
    width: 90px;
    height: 90px;
  }

  .generation {
    width: 1337px;
    height: 900px;
  }

  .first_block,
  .second_block,
  .last_block {
    margin-bottom: 206px;
  }

  .first_block,
  .last_block {
    gap: 700px;
  }

  .second_block {
    gap: 1022px;
  }

  .image {
    width: 108px;
    height: 108px;
  }

  .brain_activity {
    margin-right: 17px;
    width: 290px;
    min-height: 370px;
  }

  .user_main {
    flex-direction: row;
  }

  .user_name {
    width: 600px;
    height: 299px;
    padding: 30px;
    margin-right: 17px;
  }

  .user_indicators {
    width: 1262px;
    height: 524px;
    padding: 30px;
    margin-bottom: 50px;
  }

  .user_text {
    font-size: 50px;
  }

  .letter {
    font-size: 70px;
  }

  .letter_line {
    width: 80px;
  }

  .indicators {
    width: 620px;
    height: 369px;
  }

  .brain_activity p {
    margin-top: 20px;
    font-size: 16px;
  }

  .brain_line {
    margin-top: 120px;
    width: 272px;
    height: 100px;
  }

  .brain_img {
    margin-top: 70px;
    margin-left: -264px;
    position: absolute;
    width: 259px;
    height: 231px;
  }

  .pulse_numbers {
    margin-top: 20px;
    width: 265px;
    justify-content: space-between;
  }

  .pulse_numbers h2 {
    font-size: 50px;
  }

  .heart {
    margin-top: 40px;
    width: 250px;
  }

  .mood {
    height: 106px;
  }

  .mood_toggle {
    width: 294px;
    height: 106px;
  }

  .pulse {
    width: 305px;
    height: 357px;
  }

  .dream_header {
    width: 712px;
    height: 75px;
  }

  .dream_header p {
    font-size: 40px;
  }

  .dream_main {
    width: 1260px;
    height: 694px;
  }

  .dream_wrapper {
    width: 1245px;
    height: 674px;
  }

  .right_side {
    width: 730px;
    height: 674px;
  }

  .right_img {
    width: 680px;
    height: 634px;
    padding: 40px;
  }

  .right_img img {
    height: 330px;
  }

  .dreams_settings img {
    width: 210px;
    height: 210px;
  }

  .left_side {
    padding: 20px;
    width: 392px;
    height: 643px;
  }

  .toggle_1,
  .toggle_2,
  .toggle_3,
  .toggle_4 {
    width: 80px;
    height: 634px;
  }

  .inner_toggle_1,
  .inner_toggle_2,
  .inner_toggle_3,
  .inner_toggle_4 {
    width: 60px;
    height: 60px;
  }
}

/* Для экранов от 1024px до 1365px */
@media (min-width: 1024px) and (max-width: 1365px) {
  .title_section h1 {
    font-size: 75px;
  }

  .footer_author {
    width: 100%;
    max-width: 1166px;
    margin: 0 auto;
  }

  @media (max-width: 1280px) {
    .footer_author {
      width: 1166px;
    }
  }

  @media (max-width: 1024px) {
    .footer_author {
      width: 938px;
    }
  }

  .footer_ticker {
    width: 346px;
    height: 64px;
    font-size: 30px;
  }

  .footer_group p {
    font-size: 18px;
  }

  .footer_name {
    font-size: 30px;
    padding: 53px 0;
  }

  .footer_hse {
    padding: 50px 30px 50px 0;
  }
  .footer_group {
    padding-left: 10px;
  }

  .user_data_container {
    width: 1156px;
    height: 109px;
    padding: 0px;
  }

  @media (max-width: 1024px) {
    .user_data_container {
      width: 934px;
    }
  }

  .user_data_text {
    font-size: 30px;
  }

  .result {
    width: 1118px;
    height: 120px;
    padding: 20px;
  }

  @media (max-width: 1024px) {
    .result {
      width: 914px;
    }
  }

  .result_text {
    font-size: 35px;
  }
  .result_icon {
    width: 70px;
    height: 70px;
  }

  .generation {
    width: 100%;
    max-width: 1164px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  @media (max-width: 1280px) {
    .generation {
      width: 1164px;
    }
    .second_block {
      gap: 838px;
    }

    .first_block,
    .last_block {
      gap: 450px;
    }
  }

  @media (max-width: 1024px) {
    .generation {
      width: 955px;
    }
    .second_block {
      gap: 600px;
    }
  }

  .first_block,
  .second_block,
  .last_block {
    margin-bottom: 90px;
  }

  .image {
    width: 108px;
    height: 108px;
  }

  .center_image {
    width: 530px;
    height: 530px;
  }

  .brain_activity {
    margin-right: 0px;
    margin-bottom: 10px;
    min-height: 159px;
  }

  .user_main {
    flex-direction: row;
  }

  .user_name {
    height: 258px;
    padding: 30px;
    margin-right: 20px;
  }

  .user_indicators {
    height: 470px;
    padding: 30px;
    margin-bottom: 50px;
  }

  .user_text {
    font-size: 50px;
  }

  .letter {
    font-size: 70px;
  }

  .letter_line {
    width: 80px;
  }

  .indicators {
    height: 328px;
    flex-direction: column;
  }

  .brain_activity p {
    margin-top: 10px;
    font-size: 16px;
  }

  .brain_line {
    margin-top: 25px;
    height: 88px;
  }

  .brain_img {
    margin-top: 11px;
    position: absolute;
    width: 126px;
    height: 113px;
  }

  .pulse_numbers {
    margin-top: 10px;
    justify-content: space-between;
  }

  .pulse_numbers h2 {
    font-size: 30px;
  }

  .heart {
    margin-top: 0px;
    width: 130px;
    margin-top: -5px;
  }

  .mood {
    width: 100%;
    height: 106px;
  }

  .mood_toggle {
    width: 294px;
    height: 106px;
  }

  .pulse {
    height: 159px;
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    .brain_activity {
      width: 276px;
    }

    .user_name {
      width: 583px;
    }

    .user_indicators {
      width: 856px;
    }

    .indicators {
      width: 276px;
    }

    .brain_line {
      width: 238px;
    }

    .pulse_numbers {
      width: 236px;
    }

    .pulse {
      width: 263px;
    }

    .brain_img {
      margin-left: -176px;
      margin-top: 11px;
      position: absolute;
      width: 126px;
      height: 113px;
    }
  }

  @media (min-width: 1280px) and (max-width: 1365px) {
    .brain_activity {
      width: 420px;
    }

    .brain_img {
      margin-top: 11px;
      margin-left: -256px;
    }

    .user_name {
      width: 614px;
    }

    .user_indicators {
      width: 1076px;
    }

    .indicators {
      width: 420px;
    }

    .brain_line {
      width: 400px;
    }

    .pulse_numbers {
      width: 380px;
    }

    .pulse {
      width: 408px;
    }
  }
}

/* Для экранов от 640px до 1023px */
@media (min-width: 640px) and (max-width: 1023px) {
  .title_section h1 {
    font-size: 75px;
  }
  .footer_ticker {
    width: 336px;
    height: 58px;
    font-size: 25px;
    padding: 0px;
  }

  .footer_author {
    width: 696px;
    height: 370px;
    flex-direction: column;
    gap: 40px;
    padding-top: 30px;
  }

  .footer_name {
    font-size: 40px;
    padding: 30px;
  }

  .footer_group p {
    font-size: 18px;
  }

  .footer_group {
    align-items: center;
  }

  .footer_hse {
    text-align: center;
    font-size: 18px;
    padding: 0 30px 30px;
  }

  .user_data_container {
    width: 696px;
    height: 109px;
    padding: 0px;
  }

  .user_data_text {
    font-size: 30px;
  }

  .result {
    width: 656px;
    height: 120px;
    padding: 20px;
  }
  .result_text {
    font-size: 35px;
  }
  .result_icon {
    width: 70px;
    height: 70px;
  }

  .generation {
    width: 700px;
    height: 586px;
  }

  .center_image {
    width: 530px;
    height: 530px;
  }

  .first_block,
  .last_block {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 430px;
  }

  .second_block {
    display: none;
  }
  .brain_activity {
    margin-right: 0px;
    margin-bottom: 10px;
    width: 254px;
    min-height: 159px;
  }

  .user_main {
    flex-direction: row;
  }

  .user_name {
    width: 392px;
    height: 278px;
    padding: 20px;
    margin-right: 10px;
  }

  .user_indicators {
    width: 646px;
    height: 484px;
    padding: 20px;
    margin-bottom: 50px;
  }

  .user_text {
    font-size: 30px;
  }

  .letter {
    font-size: 50px;
  }

  .letter_line {
    width: 60px;
  }

  .indicators {
    width: 254px;
    height: 328px;
    flex-direction: column;
  }

  .brain_activity p {
    margin-top: 10px;
    font-size: 16px;
  }

  .brain_line {
    margin-top: 25px;
    width: 238px;
    height: 88px;
  }

  .brain_img {
    margin-top: 10px;
    margin-left: -176px;
    position: absolute;
    width: 126px;
    height: 113px;
  }

  .pulse_numbers {
    margin-top: 10px;
    width: 214px;
    justify-content: space-between;
  }

  .pulse_numbers h2 {
    font-size: 30px;
  }

  .heart {
    width: 130px;
    margin-top: 0px;
  }

  .mood {
    width: 100%;
    height: 106px;
  }

  .mood_toggle {
    width: 294px;
    height: 106px;
  }

  .pulse {
    width: 242px;
    height: 159px;
  }
}

/* Для экранов до 479px */
@media (max-width: 479px) {
  .title_section h1 {
    font-size: 40px;
    margin-top: 60px;
  }
  .footer_ticker {
    width: 336px;
    height: 58px;
    font-size: 25px;
    padding: 0px;
  }

  .footer_author {
    width: 336px;
    height: 387px;
    flex-direction: column;
    gap: 40px;
    padding-top: 30px;
  }

  .footer_name {
    font-size: 30px;
    padding: 30px;
  }

  .footer_group p {
    font-size: 18px;
  }

  .footer_group {
    align-items: center;
  }

  .footer_hse {
    text-align: center;
    font-size: 18px;
    padding: 0 30px 30px;
  }

  .user_data_container {
    width: 336px;
    height: 88px;
    padding: 0px;
  }

  .user_data_text {
    font-size: 25px;
  }

  .result {
    width: 296px;
    height: 260px;
    padding: 20px;
    margin-top: 40px;
    flex-direction: column;
    justify-content: center;
  }
  .result_text {
    font-size: 25px;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .result_icon {
    width: 70px;
    height: 70px;
  }

  .generation {
    width: 335px;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .center_image {
    width: 290px;
  }

  .first_block,
  .second_block,
  .last_block {
    display: none;
  }

  .brain_activity {
    margin-right: 0px;
    margin-bottom: 10px;
    width: 306px;
    height: 294px;
  }

  .user_main {
    flex-direction: column;
  }

  .user_name {
    width: 270px;
    height: 200px;
    padding: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .user_diamond {
    width: 56px;
  }

  .user_indicators {
    width: 296px;
    height: 620px;
    padding: 15px;
    margin-bottom: 40px;
  }

  .user_text {
    font-size: 25px;
  }

  .letter {
    font-size: 45px;
  }

  .letter_line {
    width: 50px;
  }

  .indicators {
    width: 306px;
    height: 294px;
    flex-direction: column;
  }

  .brain_activity p {
    margin-top: 10px;
    font-size: 14px;
  }

  .brain_line {
    margin-top: 15px;
    width: 300px;
    height: 104px;
  }

  .brain_img {
    margin-top: 4px;
    margin-left: -216px;
    position: absolute;
    width: 126px;
    height: 110px;
  }

  .pulse_numbers {
    margin-left: 15px;
    height: 111px;
    flex-direction: column;
    justify-content: space-between;
  }

  .pulse_numbers h2 {
    font-size: 50px;
  }

  .heart {
    width: 110px;
    margin-top: 0px;
    margin-right: 15px;
  }

  .mood {
    width: 100%;
    height: 106px;
  }

  .mood_toggle {
    width: 215px;
    height: 46px;
  }

  .pulse {
    width: 292px;
    height: 504px;
    flex-direction: row;
    justify-content: space-between;
  }
}
