/* Секция: Заголовок h1 */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.title_section h1 {
  animation: blink 0.6s infinite ease-in-out;
}

/* Анимация бегущей строки data */
.user_data_wrapper {
  animation: user_data_scroll 10s linear infinite;
}
@keyframes user_data_scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Анимация шапки ожидание результата */
.result:hover {
  animation: 0.6s infinite ease-in-out;
}

/* Анимация ожидание генерации */
.rotate_clockwise {
  animation: rotate_clockwise 3s linear infinite;
}
@keyframes rotate_clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate_counterclockwise {
  animation: rotate_counterclockwise 3s linear infinite;
}
@keyframes rotate_counterclockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.image_blink,
.center_image {
  animation: blink 0.6s infinite ease-in-out;
}

/* Бегущая строка */
.footer_ticker span {
  display: inline-block;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.letter_line {
  animation: blinkLine 1s infinite;
}
@keyframes blinkLine {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.heart {
  animation: pulseHeart 2s ease-in-out infinite;
}
@keyframes pulseHeart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.mood_toggle {
  animation: moveToggle 3s linear infinite;
}
@keyframes moveToggle {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(100% - 40px));
  }
  100% {
    transform: translateX(0);
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .mood_toggle {
    animation: moveToggleMobile 3s linear infinite;
  }

  @keyframes moveToggleMobile {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(100% - 150px));
    }
    100% {
      transform: translateX(0);
    }
  }
}

@media (max-width: 479px) {
  .mood_toggle {
    animation: moveToggleMobile 3s linear infinite;
  }

  @keyframes moveToggleMobile {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(100% - 150px));
    }
    100% {
      transform: translateX(0);
    }
  }
}

.brain_line:hover {
  animation: blink 1s infinite;
}

.pulse_numbers h2 {
  animation: blink 0.6s infinite alternate;
}

.letter .letter {
  animation: change-color 2s infinite alternate;
}

/* Добавление задержки для каждой буквы */
.letter:nth-child(1) .letter {
  animation-delay: 0s;
}

.letter:nth-child(2) .letter {
  animation-delay: 0.2s;
}

.letter:nth-child(3) .letter {
  animation-delay: 0.4s;
}

.letter:nth-child(4) .letter {
  animation-delay: 0.6s;
}

.letter:nth-child(5) .letter {
  animation-delay: 0.8s;
}

/* Анимация смены цвета */
@keyframes change-color {
  0% {
    color: #fdeff9;
  }
  100% {
    color: #f979f8;
  }
}
