/* Секция: Заголовок h1 */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.title_section h1 {
  animation: blink 0.6s infinite ease-in-out;
}

/* Анимация бегущей строки data */
.user_data_wrapper {
  animation: user_data_scroll 10s linear infinite;
}
@keyframes user_data_scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Анимация шапки ожидание результата */
.result:hover {
  animation: 0.6s infinite ease-in-out;
}

/* Анимация ожидание генерации */
.rotate_clockwise {
  animation: rotate_clockwise 3s linear infinite;
}
@keyframes rotate_clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate_counterclockwise {
  animation: rotate_counterclockwise 3s linear infinite;
}
@keyframes rotate_counterclockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.image_blink,
.center_image {
  animation: blink 0.6s infinite ease-in-out;
}

/* Бегущая строка */
.footer_ticker span {
  display: inline-block;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


